<!DOCTYPE html>
<html>
  <head>
    <title>Template Code - Checkout Pro</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <script type="text/javascript" src="js/index.js" defer></script>
  </head>

  <body>
    <!-- header -->
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
              <h1 style="margin-top: 2rem;" class="pd-billboard-header pd-util-compact-small-18">Tienda e-commerce</h1>
            </div>
        </div>
    </div>

    <main class="main--notification">
      <!-- Page Success -->
        <div class="pageArea--failure">
            <h1>Falha ao Realizar Pagamento</h1>
            <h3>verifique se digitou todos os dados corretamente e tente novamente</h3>
            <img class="imgPayment_failure" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDhQn0GkjoKJr-Oyw5lqAJJuK0CNb-YW9Omw&usqp=CAU" alt="payment_failure">
            
        </div>
    </main>
    <!-- footer -->
    <div class="as-footnotes ">
        <div class="as-footnotes-content">
            <div class="as-footnotes-sosumi">
                Todos los derechos reservados Tienda Tecno 2018
            </div>
        </div>
    </div>

  </body>
</html>