<!DOCTYPE html>
<html>
  <head>
    <title>Template Code - Checkout Pro</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
  </head>

  <body>
    <!-- header -->
    <div style="text-align: center">
      <h1 style="margin-top: 2rem;margin-bottom: 2rem;" class="pd-billboard-header pd-util-compact-small-18">Tienda e-commerce</h1>
    </div>

    <main class="main--notification">
      <!-- Page Success -->
        <div class="pageArea--pending">
            <h1 class="notification-title">O pagamento está pendente</h1>
            <h3 style="margin-bottom: 60px!important;">Pague o boleto o quanto antes, ou se comprou no cartão aguarde a aprovação</h3>
            <img class="imgPayment_pending" src="https://www.bcbsil.com/content/dam/bcbs/retail/images/icons/pay-my-bill/payments_icon.png" alt="payment_success">
            <div id="result--payment-pending"></div>
        </div>
    </main>
    <!-- footer -->
    <div class="as-footnotes ">
        <div class="as-footnotes-content">
            <div class="as-footnotes-sosumi">
                Todos los derechos reservados Tienda Tecno 2018
            </div>
        </div>
    </div>
    <script>

      var params = window.location.search.substring(1).split('&');


      var paramArray = {};

      for(var i=0; i<params.length; i++) {
        
          var param = params[i].split('=');

          paramArray[param[0]] = param[1];
      }

      $("#result--payment-pending").append( "<h3>" + "collection_id: " + paramArray['collection_id'] +"</h3>" );
      $("#result--payment-pending").append( "<h3>" + "external_reference: " + paramArray['external_reference'] +"</h3>" );
      $("#result--payment-pending").append( "<h3>" + "preference_id: " + paramArray['preference_id'] +"</h3>" );
    </script>
  </body>
</html>