<!DOCTYPE html>
<html>
  <head>
    <title>Template Code - Checkout Pro</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <script type="text/javascript" src="js/index.js" defer></script>
  </head>

  <body>
    <main>
      <!-- Page Success -->
        <div class="pageArea--pending">
            <h1>O pagamento está pendente</h1>
            <h3>Pague o boleto o quanto antes, ou se comprou no cartão aguarde a aprovação</h3>
            <img class="imgPayment_pending" src="https://www.bcbsil.com/content/dam/bcbs/retail/images/icons/pay-my-bill/payments_icon.png" alt="payment_success">
            
        </div>
    </main>
    <!-- footer -->
    <div class="as-footnotes ">
        <div class="as-footnotes-content">
            <div class="as-footnotes-sosumi">
                Todos los derechos reservados Tienda Tecno 2018
            </div>
        </div>
    </div>

  </body>
</html>