<!DOCTYPE html>
<html>
  <head>
    <title>Template Code - Checkout Pro</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    
    
  </head>

  <body>
    <!-- header -->
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
              <h1 style="margin-top: 2rem;" class="pd-billboard-header pd-util-compact-small-18">Tienda e-commerce</h1>
            </div>
        </div>
    </div>

    <main class="main--notification">
      <!-- Page Success -->
        <div class="pageArea--success">
            <h1 class="notification-title">Compra Realizada com Sucesso</h1>
            <img class="imgPayment_success" src="https://mentoring4you.com.br/assets/img/icons-svg/ok.svg" alt="payment_success">
            <div id="result--payment"></div>
        </div>
    </main>
    <!-- footer -->
    <div class="as-footnotes ">
        <div class="as-footnotes-content">
            <div class="as-footnotes-sosumi">
                Todos los derechos reservados Tienda Tecno 2018
            </div>
        </div>
    </div>

    <script>

      var params = window.location.search.substring(1).split('&');


      var paramArray = {};

      for(var i=0; i<params.length; i++) {
        
          var param = params[i].split('=');

          paramArray[param[0]] = param[1];
      }

      $("#result--payment").append( "<h3>" + "collection_id: " + paramArray['collection_id'] +"</h3>" );
      $("#result--payment").append( "<h3>" + "external_reference: " + paramArray['external_reference'] +"</h3>" );
      $("#result--payment").append( "<h3>" + "preference_id: " + paramArray['preference_id'] +"</h3>" );
    </script>
  </body>
</html>