<!DOCTYPE html>
<html>
  <head>
    <title>Template Code - Checkout Pro</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    
    
  </head>

  <body>
    <!-- header -->
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
              <h1 style="margin-top: 2rem;" class="pd-billboard-header pd-util-compact-small-18">Tienda e-commerce</h1>
            </div>
        </div>
    </div>

    <main class="main--notification">
      <!-- Page Success -->
        <div class="pageArea--success">
            <h1>Compra Realizada com Sucesso</h1>
            <img class="imgPayment_success" src="https://mentoring4you.com.br/assets/img/icons-svg/ok.svg" alt="payment_success">
            
        </div>
    </main>
    <!-- footer -->
    <div class="as-footnotes ">
        <div class="as-footnotes-content">
            <div class="as-footnotes-sosumi">
                Todos los derechos reservados Tienda Tecno 2018
            </div>
        </div>
    </div>

    <script>
        var href = window.location.href;
        var url = purl(href);
        var collection_id = url.search('collection_id'); 
        var external_reference = url.search('external_reference'); 
        var preference_id = url.search('preference_id'); 

      console.log(collection_id)

      /*decodeURI(window.location.search)
      .replace('?', '')
      .split('&')
      .map(param => param.split('='))
      .reduce((values, [ key, value ]) => {
        values[ key ] = value
        return values
      }, {})

      console.log(decodeURI);*/
    </script>
  </body>
</html>